*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
*.egg
dist/
build/
*.so
.flaskenv
.dashboard.env
instance/
.webassets-cache
*.db
*.sqlite
*.sqlite3
*.log
.DS_Store
Thumbs.db
node_modules/